*{
    font-family: 'Comforter', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Supermercado One', cursive;
}

.container{
    display: grid;
    grid-template-columns: repeat(1,3fr);
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 5px;
    background: rgb(124,180,58);
    height: 100vh;
    background: radial-gradient(circle, rgba(124,180,58,1) 11%, rgba(57,125,11,1) 76%, rgba(17,125,11,1) 85%, rgba(17,125,11,1) 94%);
}
.container-1{
    display: flex;
  
}
/* Button Css */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }

.button4:hover {background-color: #e7e7e7;}
/* Button Css End*/

.header{
    display: inline-flex;
   justify-content: space-between;
}
.number-range{
    background-color: white;
    margin: 5px;
    height: 40px;
    padding-bottom: 23px;
    background: linear-gradient(#d4f0fa, #e0f7ff 40%, #dcf6ff 3%, #d9f2fa);
    border-radius: 20px;
}
.game-name{
    text-align: center;
}
.menu{
    text-align: center;
    margin: 0 auto;
    height: 80px;
    background: cornsilk;
    border-radius: 20px;
    background: linear-gradient(#d4f0fa, #e0f7ff 40%, #dcf6ff 3%, #d9f2fa);
}
.content{
    flex-grow: 2;
    text-align: center;
}

.content input{
    width: 60px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}

.footer{
    text-align: center;
    flex-grow: 2;
}

.lower-class{
    margin-top: 10px;
}
